.about-page {
    background-color: var(--color-primary);
    min-height: 100vh;
    padding-top: 10rem; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vertical-container {
    display: flex;
     flex-direction: column;
     gap: 2rem;
     width: 80%;
     margin: 0 auto;
     padding: 2rem 0;
}

.mission-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission-details {
    flex-grow: 1;
    width: 80%;
}

.mission-header {
    font-size: 2rem;
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-tertiary);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    margin-bottom: 1rem;
}

.mission-description {
    font-size: 1.2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
    line-height: 1.6; 
}