.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);
  min-width: 400px; 
  overflow-x: auto; 
  padding: 1rem; 
}

.home-content {
  text-align: center;
  background: transparent;
  box-shadow: none;
  width: 80%; 
  max-width: 800px; 
}

.logo {
  max-width: 50vw; 
  min-width: 200px; 
}

.mission {
  font-size: clamp(1rem, 4vw, 2rem); 
  color: var(--color-secondary);
  font-family: 'Arial', sans-serif;
}
