* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
body {
    margin: 0; 
    font-family: Arial, sans-serif; 
}
  
.navbar-container {
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    background-color: var(--color-secondary); 
    padding: 1rem 2rem; 
    justify-content: space-between;
}

.navBarLogo {
    height: 70px; 
    margin-right: 2rem; 
}
  
.p-menubar {
    width: 100%; 
    background-color: transparent; 
    border: none; 
    flex-grow: 1;
    justify-content: center;
}
  
.p-menubar .p-menubar-root {
    border: none; 
}
  
.p-menubar .p-menuitem-link {
    color: var(--color-primary); 
    font-size: 1.2rem; 
    font-weight: bold; 
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.p-menubar .p-menuitem-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-tertiary); 
}
  
.p-submenu-list {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
}

.p-submenu-list .p-menuitem-link {
    color: var(--color-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.p-submenu-list .p-menuitem-link:hover {
    color: var(--color-tertiary); 
}

.p-menubar .p-submenu-icon {
    color: var(--color-primary);
}