.partners-page {
    background-color: var(--color-primary);
    min-height: 100vh;
    padding-top: 10rem; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .partners-container {
     display: flex;
     flex-direction: column;
     gap: 2rem;
     width: 80%;
     margin: 0 auto;
     padding: 2rem 0;
  }
  
  .partner-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .partner-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .partner-image img {
    width: clamp(100px, 10vw, 200px);
    height: auto;
    border-radius: 50%;
    margin-right: 1.5rem;
    object-fit: cover;
  }
  
  .partner-details {
    flex-grow: 1;
    width: 80%; 
  }
  
  .partner-name {
    font-size: clamp(1rem, 2vw, 2rem);
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-tertiary);
    text-decoration-thickness: clamp(1.5px, 1vw, 3px);
    text-underline-offset: clamp(5px, 1vw, 10px);
    margin-bottom: 1rem;
  }
  
  .partner-description {
    font-size: clamp(.6rem, 1vw, 1.2rem);
    color: var(--color-primary);
    margin-bottom: 1rem;
    line-height: 1.6; 
  }
  
  .partner-link {
    font-size: clamp(.5rem, 1vw, 1rem);
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .partner-link:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
  